@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's just say this is NOT JAHWA - Just Another Hello World Application. Created CI.</p>
    <p>So - welcome!</p>
</div>
